\documentclass[12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}

\begin{document}

\section*{Service Contract}

Client: \textbf{ {{ client_name }} }

Service description:

{{ service_description }}

Date created: {{ date_created }}

Total to pay: \textbf{ {{ total_price }} } som

\end{document}