{% extends 'app/base.html' %}
{% load static %}
{% block custom_css %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/cart.css' %}" />
{% endblock custom_css %}
{% block title %}Корзина{% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
      <h1 class="text-center mb-5">Корзина магазина</h1>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
              {% for item in items %}
                <div class="row">
                  <div class="col-sm-3 text-center align-self-center">
                    <a href="{% url 'productdetail' item.product.id %}">
                      <img src="{{item.product.image.url}}" alt="" srcset="" class="img-fluid img-thumbnail border-0 my-5" height="150" width="150">
                    </a>
                  </div>

                  <div class="col-sm-9">
                    <div>
                      <h6 class="fw-bold">{{ item.product.name }}</h6>
                      <p class="mb-2 text-muted small">
                        Описание: <pre></pre>
                      </p>
                      <div class="my-3">
                        <label for="quantity">Колличество:</label>
                        <a class="minus-cart btn" pid="{{item.product.id}}">
                          <i class="fas fa-minus-square fa-lg"></i>
                        </a>
                        <span id="quantity">{{ item.quantity }}</span>
                        <a class="plus-cart btn" pid="{{item.product.id}}">
                          <i class="fas fa-plus-square fa-lg"></i>
                        </a>
                      </div> 
                      <div class="d-flex justify-content-between">
                        <a class="btn btn-sm btn-secondary shadow-none mr-3 delete-cart" pid="{{item.product.id}}">
                          <i class="fa fa-trash"></i>
                        </a>
                        <p class="mb-0">
                          <span><strong> {{item.product.discounted_price}} сом</strong></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="text-muted my-4">

                {% empty %}
                  <div>Ваша корзина пуста</div>
              {% endfor %}
          </div>
        </div>
      </div>

      <!-- View the total price card only when cart is not empty -->
      {% if cartempty %}
        
      {% else %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h3>Общая сумма</h3>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Сумма<span>Rs. <span id="total-amount">{{amounts.totalamount}}</span></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0">
                  Перевозки<span>Rs. <span id="shipping-amount">{{amounts.shippingamount}}</span></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Общая сумма</strong> <small>(including VAT)</small>
                  </div>
                  <span><strong>Rs. <span id="final-amount">{{amounts.finalamount}}</span></strong> 
                </li>
              </ul>
              <div class="d-grid">
                <a href="" class="btn btn-primary">Оформить заказ</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
        
    </div>
  </div>

  <div class="container my-4">
  <div class="row">
    <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">Мы принимаем</h5>
        <img src="{% static 'app/images/payment.png' %}" alt="" class="img-fluid">
      </div>
    </div>
    </div>
  </div>
  </div>
{% endblock main-content %}

{% block custom_js %}
  <script src="{% static 'app/js/cart.js' %}">
      // Увеличить
    $(".plus-cart").click(function () {
        var id = $(this).attr("pid");
        var element = this.parentNode.children[1];

        $.ajax({
            type: "GET",
            url: "/pluscart",
            data: {
                prod_id: id
            },
            success: function (data) {
                element.innerText = data.quantity;
                $('#total-amount').text(data.totalamount);
                $('#shipping-amount').text(data.shippingamount);
                $('#final-amount').text(data.finalamount);
            }
        });
    });

    // Уменьшить
    $(".minus-cart").click(function () {
        var id = $(this).attr("pid");
        var element = this.parentNode.children[1];

        $.ajax({
            type: "GET",
            url: "/minuscart",
            data: {
                prod_id: id
            },
            success: function (data) {
                element.innerText = data.quantity;
                $('#total-amount').text(data.totalamount);
                $('#shipping-amount').text(data.shippingamount);
                $('#final-amount').text(data.finalamount);
            }
        });
    });

    // Удалить
    $(".delete-cart").click(function () {
        var id = $(this).attr("pid");
        var row = $(this).closest('.row');

        $.ajax({
            type: "GET",
            url: "/removecart",
            data: {
                prod_id: id
            },
            success: function (data) {
                row.remove();
                $('#total-amount').text(data.totalamount);
                $('#shipping-amount').text(data.shippingamount);
                $('#final-amount').text(data.finalamount);
            }
        });
    });
  </script>
{% endblock custom_js %}
